section, article, header, img, div, p {
    margin:0;
    padding:0;
}

section {
    margin: 20px;
    padding: 10px;
    padding-top: 1px;
    width: 502px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

header {
    padding-left: 10px;
    padding-bottom: 5px;
}

article {
    margin: 30px 10px;
    height: 140px;
    width: 478px;
    background-color:white;
    border: 2px solid #989898;    
}

div {
    position: absolute;
    margin-top: 10px;
    display: inline-block;
    width: 255px;
    height: 120px;
}

h1 {
    font-size: 1.4em;
    font-weight: normal;
}

img {
    display:inline-block;
    margin: 10px;
    width: 192px;
    height: 120px;
}

p {
    width:230px;
    height:100px;
}

button{
    color: white;
    border-radius: 0;
    border-color: #680000;
    background: #8a0000; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzhhMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2NlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #8a0000 0%, #8a0000 15%, #ce0000 16%, #ce0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8a0000), color-stop(15%,#8a0000), color-stop(16%,#ce0000), color-stop(100%,#ce0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #8a0000 0%,#8a0000 15%,#ce0000 16%,#ce0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #8a0000 0%,#8a0000 15%,#ce0000 16%,#ce0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #8a0000 0%,#8a0000 15%,#ce0000 16%,#ce0000 100%); /* IE10+ */
    background: linear-gradient(to right,  #8a0000 0%,#8a0000 15%,#ce0000 16%,#ce0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a0000', endColorstr='#ce0000',GradientType=1 ); /* IE6-8 */
}

button:first-of-type {
    margin-left: 100px;
    width: 80px;
}

button:last-of-type {
    margin-left: 5px;
    width: 65px;
}
