body, nav, ul, li, section, article, a, img {
    margin:0;
    padding:0;
}

body{
    background:#1e3741;
    font-size:1.2em;
}

nav{
    margin:10px;
}

a{
text-decoration:none;
color:#999;
}

nav ul li{
    display:inline-block;
    background-color:#4b5f67;
    padding:10px;
}

nav ul li:hover {
    text-decoration: underline;
    -moz-text-decoration-color: #999;
    text-decoration-color: #999;
}

article ul li{
    list-style-type:none;
	width:295px;
    padding:15px;
    border-top: 1px solid #999;
}

img{
    position:absolute;
    margin-left:310px;
    margin-top:-40px;
    width:590px;
    height:420px;
    display:none;
}

article ul li:first-child{
    background-color:#00aa9c;
}

article ul li:first-child img{
    display:block;
}
 
article ul li:first-child a{
    color:white;
}

article ul li:hover a{
    color:yellow;
}

nav ul li:first-child{
    background-color:#1e3741;
}

nav ul li:first-child a{
    color:white;
}